<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form [formGroup]="form">
      <h1>Sign up</h1>
      <span>or use your account</span>
      <input type="text" placeholder="Name" formControlName="name" />
      <input type="email" placeholder="Email" formControlName="email" />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />

      <button (click)="signup()">Sign Up</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Do you have account?</p>
        <button class="ghost" id="signUp" routerLink="/login">Sign in</button>
      </div>
    </div>
  </div>
</div>
