<div class="home-container">
  <div class="home-header">
    <h1>Angular ToDoList</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <div class="task-header">
    <h3>Tasks</h3>
    <p>{{ myInfo.name | uppercase }}</p>
    <button (click)="showForm()">New Task</button>
  </div>
  <div class="tasks-container">
    <div class="task" *ngFor="let task of tasks">
      <h3>
        <a (click)="openTask(task.id)"> {{ task.title }} {{ task.finished }}</a>
      </h3>
      <div class="task-buttom">
        <img
          (click)="finalizeTask(task.id)"
          src="assets/checked.svg"
          alt=""
          *ngIf="task.finished == 'IN_PROCESS'"
        />
        <img
          (click)="deleteTask(task.id)"
          src="assets/trash.svg"
          alt=""
          *ngIf="task.finished == 'IN_PROCESS'"
        />
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="showModal">
  <!-- Modal content -->
  <div class="modal-content">
    <span (click)="showForm()" class="close">&times;</span>
    <form [formGroup]="form" class="modal-form">
      <div class="form-group">
        <h1 class="text-center">Add task</h1>
      </div>
      <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" formControlName="title" />
      </div>
      <div class="form-group">
        <label for="">Description</label>
        <textarea
          formControlName="description"
          class="form-control"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <button (click)="addTask()">Add Task</button>
    </form>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="pacman"
  [fullScreen]="true"
  ><p style="color: white;">Loading...</p></ngx-spinner
>

<div *ngIf="showTask">
  <app-show-task
    [taskId]="taskId"
    (showTask)="showTask = $event"
  ></app-show-task>
</div>
